@model IEnumerable<OA.Model.ProjectList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JsCss.cshtml";
}
<h4>@Html.ActionLink("返回", "Index")</h4>
<div style="font-size:20px;">当前项目没有阶段任务！</div>
