<?xml version="1.0" encoding="utf-8" ?>
<Menus>
  <MyMenu code="100" name="我的桌面" right="false">
    <ToolBar code="101" name="个人计划" url="../Plan/Index"/>
    <ToolBar code="104" name="日程管理" url="../Plan/RiCheng"/>
    <ToolBar code="105" name="客户管理" url="../Client/Index"/>
    <ToolBar code="106" name="个人信息" url="../PersonalInformation/Index"/>
  </MyMenu>
  <MyMenu code="200" name="人力资源" right="true">
    <ToolBar code="201" name="部门管理" url="../Dept/Index"  right="true"/>
    <ToolBar code="202" name="职位管理" url="../Position/Index" right="true"/>
    <ToolBar code="203" name="员工管理" url="../Employee/List" right="true"/>
    <ToolBar code="205" name="角色权限" url="../Role/Index" right="true"/>
  </MyMenu>
  <MyMenu code="300" name="会议管理" right="true">
    <ToolBar code="303" name="我的会议" url="../MyMeeting/List" right="false"/>
    <ToolBar code="301" name="会议室管理" url="../MeetingRoom/List"  right="true"/>
    <ToolBar code="302" name="会议管理" url="../Meeting/List" right="true"/>
  </MyMenu>
  <MyMenu code="400" name="项目管理" right="true">
    <ToolBar code="401" name="项目列表" url="../Project/Index"  right="false"/>
    <ToolBar code="405" name="成员管理" url="../ProjMember/Index" right="true"/>
    <ToolBar code="406" name="任务分配" url="../Task/Index" right="true"/>
  </MyMenu>
</Menus>