
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TextAction</title>
</head>
<body>
    <div> 
        首页定位到我的桌面
        测试iframe
    </div>
</body>
</html>
