@model IEnumerable<OA.Model.Meeting>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_JsCss.cshtml";
}
<script src="~/Scripts/bootstrap-paginator.js"></script>
<script type="text/javascript">
    $(function () {
        loadPage();
            $("#serachBtn").click(function () {
                $("#List").empty();
                $("#pager").hide();
                loadPage();
                $("#pager").show();
            })
    })
    function addToList(data) {
        $("#List").empty();
            $("#List").append('<table id="data_table" class="table table-striped"> <thead><tr><th>会议主题</th><th>发起人</th><th>会议室</th><th>开始时间</th><th>时长(min)</th><th>会议状态</th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作</th></tr><tbody></tbody></table>');
            $.each(eval("(" + data + ")").list, function (index, item) { //遍历返回的json
                str = item.Status == 0 ? '<a class="valid" id=' + item.MeetId + '  onclick="StatusChange(' + item.MeetId + ','+1+')">设为已开&nbsp;</a><a class="valid" id='
                    + item.MeetId + '  onclick="StatusChange(' + item.MeetId + ',' + 2 + ')">撤销&nbsp;</a>' : item.Status == 1 ? "" : '<a class="valid" id='
                    + item.MeetId + '  onclick="StatusChange(' + item.MeetId + ',' + 0 + ')">取消撤销&nbsp;</a>'
                var status = item.Status == 0 ? "未开" : item.Status == 1 ? "已开" : "已撤销";
                var startDateTime = item.StartDateTime == null ? "" : item.StartDateTime;
                $("#data_table tbody").append('<tr><td>' + item.Subject + '</td><td>' + item.EmpName + '</td><td>' + item.RoomName + '</td><td>'
                    + startDateTime + '</td><td>' + item.Minutes + '</td><td>' + status + '</td><td>' + str + '<a class="edit" id=' + item.MeetId + '  href="CreateAndEditer?id=' +
                    item.MeetId + '">修改 </a><a class="confirm-link" id=' + item.MeetId + ' href="MeetingMember?id=' + item.MeetId + '" >与会人员 </a> <a class="confirm-link" id="delete" href="#" onclick="deleteFunc(' + item.MeetId + ')">删除</a></td></tr>');
            });
        }
        function deleteFunc(MeetId) {
            var r = confirm("确认删除这条数据");
            if (r == true) {
                $.ajax({
                    url: "delete?id=" + MeetId,
                    datatype: "json",
                    type: "Post",
                    success: function (data) {
                        if (data == "yes") {
                            $("#List").empty();
                            $("#pager").empty();
                            loadPage();
                        }
                        else {
                            alert("删除失败");
                        }
                    }
                })
            }
        }
    //加载列表
        function loadPage() {
            $.ajax({
                url: "List_Json",
                datatype: "json",
                type: "Post",
                data: { searchMsg: $("#serachText").val(), Status: $("#Status").val() },
                success: function (data) {
                    if (data != null) {
                        addToList(data);
                        var pageCount = eval("(" + data + ")").pageCount; //取到pageCount的值(把返回数据转成object类型)
                        var currentPage = eval("(" + data + ")").CurrentPage; //得到CurrentPage
                        var options = {
                            bootstrapMajorVersion: 2, //版本
                            currentPage: currentPage, //当前页数
                            totalPages: pageCount, //总页数
                            itemTexts: function (type, page, current) {
                                switch (type) {
                                    case "first":
                                        return "首页";
                                    case "prev":
                                        return "上一页";
                                    case "next":
                                        return "下一页";
                                    case "last":
                                        return "末页";
                                    case "page":
                                        return page;
                                }
                            },//点击事件，用于通过Ajax来刷新整个list列表
                            onPageClicked: function (event, originalEvent, type, page) {
                                $("#List").empty();
                                $("#pager").hide();
                                $.ajax({
                                    url: "List_Json",
                                    type: "Post",
                                    data: { page: page, searchMsg: $("#serachText").val(), Status: $("#Status").val() },
                                    success: function (data1) {
                                        if (data1 != null) {
                                            addToList(data1);
                                        }
                                        $("#pager").show();
                                    }
                                });
                            }
                        };
                        $("#pager").bootstrapPaginator(options);
                    }
                    //alert("删除成功");
                }
            });
        }

    //修改开会状态
        function StatusChange(Meetid, status) {
            $.ajax({
                url: "StatusChange",
                type: "post",
                data: { id: Meetid, status: status },
                success: function (data) {
                    if (data != null) {
                        loadPage();
                    }
                }
            })
        }
</script>


<div class="input-group col-sm-2" style="margin-bottom:5px;position:relative">
    @Html.DropDownList("Status", new List<SelectListItem>
        {
            ( new SelectListItem() { Text="未开",Value="0",Selected=true}),
            (new SelectListItem() { Text="已开",Value="1",Selected=false}),
            (new SelectListItem() { Text="已撤销",Value="2",Selected=false})
        }, new { @class = "form-control" })
</div>
<div class="input-group col-sm-3" style="margin-bottom:5px;position:relative">
    <input type="text" class="form-control" id="serachText" placeholder="请输入会议主题" style="width:150px;">
    <span class="input-group-btn">
        <button class="btn btn-info bt-search" id="serachBtn">查找</button>
        <button class="btn btn-info bt-search" >@Html.ActionLink("新增会议", "CreateAndEditer")</button>
    </span>
</div>
<div id="List"></div>
<div id="pager"></div>
